@font-face {
    font-family: roboto;
    src: url("./Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

body{
    width: 100%;
    height: 100%;
}

.main-container{
    height: 100vh;
}
.main-page-container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr ) );
    grid-template-rows: 1fr;
}

.project-list{
    
    border: 1px solid black;
    /* width: 200px; */
    border-radius: 5px;
    padding: 15px;
}

.project-link{
    /* width: 100px; */
    height: 30px;
    background-color: bisque;
    text-align: center;
    border-radius: 0.2rem;
    padding: 4px;
    transition: 0.4s;
    margin: 12px
    /* transition: color 0.4s; */

}

.project-link:hover{
    cursor: pointer;
    background-color: rgba(21, 20, 20, 0.8);
    color: white;
    transition: 0.4s;
    /* transition: color 0.4s; */
}

.add-new-project-form{
    width: 70%;
    height: 20%;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-form-btn, .close-form-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 
        transform, box-shadow, 0.4s;
}
.close-form-btn{
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    margin-left: 15px;
}
.open-form-btn:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 
        transform, box-shadow, 0.4s;
    
}

.close-form-btn:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 
        transform, box-shadow, 0.4s;
    
}
.add-project-btn{
    border: none;
    padding: 10px;
    margin-left: 5px;
    background-color: #a3e635;
    color: black;
    font-weight: 600;
}

.add-project-btn:hover{
    cursor: pointer;
}

.todolist-form{
    display: flex;
    flex-direction: column;
    border: 2px solid brown;
    justify-content: center;
    align-items: center;
    padding: 10px;
/* background-image: linear-gradient(to right top, #fcf8ff, #e5cbf9, #ce9ef1, #b670e7, #9d3cdc);*/
}

.todo-container{
    border: 2px dashed saddlebrown;
    /* width: 50%; */
    /* height: 100vh; */
}

.todolist-form > input, textarea{
    /* border: none; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .todolist-form > label{
    color: white;
} */
.todolist-form > input{
    /* padding: 10px; */
    height: 35px;   
    border-radius: 5px;
}

.submit-btn{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #008F7A;
    color: white;
}

.add-task-img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.section-title{
    margin-bottom: 10px;

}

.title-container{
    text-align:center;
}

.user-task{
    display: flex;
    height: 50px;
    background-color: #ddd6fe;
    margin: 10px;
    border-radius: 5px; 
}

.user-task:hover{
    cursor: pointer
}

.cancle-btn{
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ef4444;
    color: white;
}

.project-name-input{
    padding: 5px;
    border-radius: .5rem;
}

.project-name-input:focus{
    outline-color: #fb923c;
}

.project-link-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delete-project:hover{
    cursor: pointer;    
}

.msg-container{
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-color: antiquewhite;
    text-align: center;
}

.notify{
    position: absolute;
    top: 1%;
    right: 40%;
    width: 300px;
    height: 30px;
    background-color: #a3e635;
    animation:notification 1.5s both;
    transition: ease-in-out 0.2s;

}

.complete-task-div{
    padding: 15px;
}

.task-completed{
    margin-left: 30px;
    width:fit-content;
    padding:2px;
    border-radius: 3px;
}

.task-completed:hover{
    background-color: rgb(216, 212, 212);
}

.complete-items{
    margin-bottom: 10px;
}

@keyframes notification {
    from{
        height:0px;
        font-size: 0;
    }
    to{height: 30px; font-size: inherit;}
}